*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: url(../img/foto2.jpg);
    background-size: 100% ;
    
}
main{
    margin-top: 30%;
    display: inline-flex;
}
h1{
    background: rgba(255, 192, 203, 0.349);
    width: 350px;
    height: 200px;
    text-align: center;
} 
.content-cuadro{
    display: flex;
}     
.cuadro{
    background: pink;
    width: 120px;
    color: wheat;
    height: 180px;
    overflow: hidden;
}
.cuadro h2{
    position: absolute;
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1 ;
}
.cuadro img{
    width: 120%;
    z-index: 0;
}