*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: url(../img/foto2.jpg);
    background-size: 100% ;
    
}
main{
    margin-top: 30%;
    display: inline-flex;
}
h1{
    background: rgb(160, 133, 133);
    width: 350px;
    height: 200px;
    text-align: center;
} 
-     